<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
      $(function() {
        $("#datepicker").datepicker( { dateFormat: "d M yy"} );
      });
    </script>
  </head>
  <body>
    <h1>Agile Yorkshire Meetups</h1>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Image</th>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{ event.date.strftime("%d %b %Y") }}</td>
            <td>{{ event.title }}</td>
            <td>{{ event.description  }}</td>
            <td>{{ event.capacity  }}</td>
            <td><img border="0" src="/images?k={{ event.key.urlsafe() }}"></td>
        </tr>
        {% endfor %}

    </table>

    <hr>

    <form class="right_aligned" action="/events" enctype="multipart/form-data" method="post">
      <label for="event_date">Event Date</label>
        <input type="textbox" id="datepicker" name="event_date" />
      <label for="event_title">Title</label>
        <input type="textbox" name="event_title" />
      <label for="event_description">Description</label>
        <textarea name="event_description" rows="10" cols="60"></textarea>
      <label for="event_capacity">Capacity</label>
        <input type="textbox" name="event_capacity" />
      <label for="event_registration_window">Registration Window (in days)</label>
        <input type="textbox" name="event_registration_window" />
      <label>Image</label>
      <input type="file" name="event_image"/>
      <label for="event_presentations">Presentations</label>
        <select name="event_presentations" multiple>
            {% for presentation in presentations %}
               <option value="{{ presentation.key.urlsafe() }}">{{ presentation.name }}</option>
            {% endfor %}
        </select>
      <input type="submit" value="Create event"></div>
    </form>

  </body>
</html>
{% endautoescape %}
