<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
        {% for flash in flashes %}
          <h2>{{ flash[0] }}</h2>
        {% endfor %}
        <ul>
            {% for presentation in presentations %}
                <li>{{ presentation.name }}</li>
                <ul>
                    <li>{{ presentation.outline }}</li>
                    <li><a href="{{ presentation.edit_url  }}">Edit</a></li>
                </ul>
            {% endfor %}
        </ul>

    <form class="right_aligned" action="{{ post_url }}" method="post">
      <label for=presentation_name">Name</label><input type="textbox" name="presentation_name"/>
      <label for="presentation_outline">Outline</label>
        <textarea name="presentation_outline" rows="10" cols="60"></textarea>
      <input type="submit" value="Submit presentation"></div>
    </form>
  </body>
</html>
{% endautoescape %}
